<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo" href="index.html"
        >SIMPLY<span class="header-logo-normal"> CHOCOLATE</span>
        <svg class="header-logo-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-choco-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link current" href="#home">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#our-products">Our products</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="header-socials">
      <li class="header-socials-item">
        <a
          class="header-socials-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram icon"
        >
          <svg class="header-socials-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="header-socials-link"
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter icon"
        >
          <svg class="header-socials-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="header-menu-toggle header-js-open-menu">
      <!-- aria-expanded="false"
      aria-controls="mobile-menu" -->
      <svg class="header-menu-icon" width="28" height="28">
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
