<section class="how-its-made">
  <div class="container">
    <h2 class="how-its-made-title">
      HOW IT’S <span class="span-title">MADE?</span>
    </h2>
    <div class="">
      <iframe class="video-how-its-made"></iframe>
      <div class="prescr-descr-wraper">
        <p class="how-its-made-description">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="prescription-list">
          <li class="prescription-item">
            <svg class="icon-marker" width="8" height="8">
              <use href="../img/sprite.svg#icon-marker"></use>
            </svg>
            <span class="prescription-text"
              >Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.</span
            >
          </li>
          <li class="prescription-item">
            <svg class="icon-marker" width="8" height="8">
              <use href="../img/sprite.svg#icon-marker"></use>
            </svg>
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="prescription-item">
            <svg class="icon-marker" width="8" height="8">
              <use href="../img/sprite.svg#icon-marker"></use>
            </svg>
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="prescription-item">
            <svg class="icon-marker" width="8" height="8">
              <use href="../img/sprite.svg#icon-marker"></use>
            </svg>
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="prescription-item">
            <svg class="icon-marker" width="8" height="8">
              <use href="../img/sprite.svg#icon-marker"></use>
            </svg>
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
