<section class="reviews-section">
    <div class="container reviews-container">

        <h2 class="review-section-title">chocolate is loved</h2>

        <!-- Slider main container -->
        <div class="swiper review-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">


                    <img class="review-img" src="../img/reviews-img/victoria-dobrzhanska.jpg"
                        alt="Victoria Dobrzhanska's photo, readhead yound woman" width="80" height="80">


                    <div class="review-comment-wrapper">
                        <h3 class="review-persons-name">Victoria Dobrzhanska</h3>
                        <p class="reviews-section-comment">I love this chocolate bar. Perfect combination of light
                            crispy wafer, covered in a thin layer
                            chocolate.</p>
                    </div>


                </div>
                <div class="swiper-slide">

                    <img class="review-img" src="../img/reviews-img/nazar-babenko.jpg"
                        alt="Nazar Babenko's photo, brunette, young man" width="80" height="80">

                    <div class="review-comment-wrapper">
                        <h3 class="review-persons-name">Nazar Babenko</h3>
                        <p class="reviews-section-comment">This chocolate confection is a delight! A delight! The wafer
                            is light and crisp, the hazelnut
                            cream is smooth, and the chocolate is good.</p>
                    </div>
                </div>


                <div class="swiper-slide">

                    <img class="review-img" src="../img/reviews-img/olena-kampusch.jpg"
                        alt="Olena Kampusch's photo, blonde, young woman" width="80" height="80">

                    <div class="review-comment-wrapper">
                        <h3 class="review-persons-name">Olena Kampusch</h3>
                        <p class="reviews-section-comment"> Chocolate is a family favourite treat. Love the delicious
                            smooth chocolate and the
                            creaminess
                            inside. The wafer is soft but crunchy.</p>
                    </div>

                </div>

            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
            <!-- 
            If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>

        <button class="review-btn" type="submit">Leave a review</button>



    </div>
</section>