<section class="subscribe-sec">
    <div class="container">
        <h2 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
        <p class="subscribe-descr">From the velvety texture to the rich and complex flavor, our New Chocolate is a true
            indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the
            utmost care, each piece is a work of art that is sure to please.</p>
        <button type="button" class="button subscribe-btn">Subscribe</button>
    </div>
</section>






<!-- ========= MURKUP MODAL WINDOW --------------->

<!-- <section>
    <div class="chocolate-first">
        <picture>
            <source
                srcset="../img/new-choco-modal/new-choco-desktop@1x.jpg 1x, ../img/new-choco-modal/new-choco-desktop@2x.jpg 2x"
                media="(min-width: 1200px)">
            <source
                srcset="../img/new-choco-modal/new-choco-tablet@1x.jpg 1x, ../img/new-choco-modal/new-choco-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
            <source
                srcset="../img/new-choco-modal/new-choco-mobile@1x.jpg 1x, ../img/new-choco-modal/new-choco-mobile@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="../img/new-choco-modal/new-choco-desktop@1x.jpg" alt="chocolate" height="196">
        </picture>
        <button type="button" class="choco-first-colse">

        </button>
        <h1 class="choco-main-text">
            Explore our <br> <span class="choco-text">new chocolate</span> first!
        </h1>
        <div class="e-mail-name">
            <form class="choco-subscribe">
                <label for="">
                    <input type="email" name="email" class="subscribe-form-input" required="" placeholder="E-mail">
                </label>
            </form>
            <button type="button" class="button subscribe-btn choco-btn">Subscribe</button>
        </div>
    </div>
</section> -->