<section class="top-sellers">
    <div class="container">
        <h2 class="main-section-text">
            <span class="colored">Top</span>Sellers
        </h2>
        <ul class="top-sellers-list">
            <li class="examples">
                <picture>
                    <source srcset="../img/desktop/img01@1x.jpg 1x, ../img/desktop/img01@2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <source srcset="../img/tablet/tablet01@1x.jpg 1x, ../img/tablet/tablet01@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/mobile/mobile01@1x.jpg 1x, ../img/mobile/mobile01@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="../img/desktop/img01@1x.jpg" alt="chocolate1" height="464">
                </picture>
            </li>

            <li class="examples">
                <picture>
                    <source srcset="../img/desktop/img02@1x.jpg 1x, ../img/desktop/img02@2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <source srcset="../img/tablet/tablet02@1x.jpg 1x, ../img/tablet/tablet02@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/mobile/mobile02@1x.jpg 1x, ../img/mobile/mobile02@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="../img/desktop/img02@1x.jpg" alt="chocolate2" height="464">
                </picture>
            </li>

            <li class="examples tablet-mobile">
                <picture>
                    <source srcset="../img/desktop/img01@1x.jpg 1x, ../img/desktop/img01@2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <img src="../img/desktop/img03@1x.jpg" alt="chocolate3" height="464">
                </picture>
            </li>
        </ul>

        <div class="top-sellers-text">
            <p class="text">
                Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been
                around for
                thousands of years and was first discovered by the Native American tribe called the Mayans.
            </p>
            <button type="button" class="order">Buy now</button>
        </div>
    </div>
</section>