/* MOBILE FOOTER */
.page-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--accent-background-color);
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  width: 300px;
  margin-bottom: 32px;
color: var(--white-color);
}

.span-title {
  color: var(--accent-color);
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 14px;
color: var(--white-color);
}

.address {
  font-style: normal;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white-color);
}
.social-media-list {
  display: flex;
  gap: 17px;
}
.social-list-icon {
  fill: none;
  stroke: var(--white-color);
  stroke-width: 2px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.before-footer::before {
  display: block;
  content: '';
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 32px;
  margin-bottom: 32px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}

/* TBLET FOOTER */
@media screen and (min-width: 768px) {
  /* 
    .container{
        width: 704px;
    } */
  .footer-container {
    gap: 52px;
  }
  .footer-container-tablet {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .page-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -0.02em;
  }
  .footer-menu-list {
    flex-direction: row;
    gap: 24px;
  }
  .before-footer::before {
    margin-top: 50px;
    margin-bottom: 24px;
  }
}

/* DESCTOP FOOTER */

@media screen and (min-width: 1200px) {
  .before-footer::before {
    margin-top: 58px;
  }
  .social-list-link:hover {
    color: var(--accent-color);
  }
  .social-list-link:focus {
    color: var(--accent-color);
  }
  .footer-menu-link:hover,
  .footer-menu-link:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus{
color: var(--accent-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
