.header-logo {
  display: flex;
  gap: 4px;
  padding: 20px 0 14px 0;
  margin-right: 138px;
  align-items: center;

  text-transform: uppercase;
  font-family: var(--main-font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--primary-text-color);
}
.header-logo-normal {
  font-style: normal;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0 24px 0;
    margin-right: 503px;
  }
}
@media only screen and (min-width: 1200px) {
  .header-logo {
    padding: 24px 0 32px 0;
    margin-right: 188px;

    font-size: 18px;
    line-height: 1.11;
  }
}
/* 
  |==========================================================
  | Header styles
  |==========================================================
*/
.header {
  background-color: var(--background-color);
  /* Others var */
  --indent: 24px;
  --item: 1;
  --modal-idx: 10;
  --anim-base: 250ms;
  --anim-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: var(--primary-text-color);
}
@media only screen and (max-width: 1199px) {
  .header-list {
    display: none;
  }
}
.header-link {
  position: relative;

  display: block;
  padding: 24px 0;

  color: var(--primary-text-color);

  transition: color var(--anim-base) var(--anim-timing);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
/* 
  |==========================================================
  | Socials icons styles
  |==========================================================
*/
.socials {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.socials-icon {
  /* fill: currentColor; */
  fill: transparent;
  stroke: var(--primary-text-color);

  transition: stroke var(--anim-base) var(--anim-timing);
}
.socials-icon:hover,
.socials-icon:focus {
  stroke: var(--accent-color);
}
@media only screen and (max-width: 1199px) {
  .header-socials {
    display: none;
  }
}
/* 
  |==========================================================
  | Mobil menu styles
  |==========================================================
*/
.header-menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1199px) {
  .header-menu-toggle {
    display: none;
  }
}
.header-menu-icon {
  /* fill: currentColor; */
  fill: transparent;
  stroke: var(--primary-text-color);

  transition: stroke var(--anim-base) var(--anim-timing);
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  padding: 80px 35px 40px 40px;
  background-color: var(--color-bg-white);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .header-menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu-link {
  display: block;
  padding: 0px 0px 40px 0px;

  color: var(--color-txt-caption-navy-blue);
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-contact-phone {
  display: block;
  padding: 0px 0px 40px 0px;

  color: var(--color-txt-caption-iris);
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-contact-mail {
  display: block;
  padding: 0;

  color: var(--color-txt-main-slate);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu-contact-list {
  margin-bottom: 48px;
}
.mobile-menu-socials {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
}
.mobile-menu-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: var(--color-bg-cloud);

  background-color: var(--color-bg-iris);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--anim-base);
  transition-timing-function: var(--anim-timing);
  transition-delay: 0ms;
}
.mobile-menu-socials-link:hover,
.mobile-menu-socials-link:focus {
  background-color: var(--color-bg-hover-ocean);
}
.mobile-menu-socials-icon {
  fill: currentColor;
}
.current {
  color: var(--color-txt-nav-hover-ocean);
}
