.unique-components {
    padding: 72px 0;
}
.components-title {
    max-width: 283px;
    margin: 0 auto 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.components-title-span {
    color: var(--accent-color);
}
.components-text {
    margin: 0 auto 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
}
.components-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.components-item {
    position: relative;
    width: 100%;
    height: 270px;
    padding: 28px;
    border-radius: 15px;
    transition: border 500ms;
}
.components-img {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.components-item:nth-child(1) {
    background-color: var(--accent-color);
}
.components-item:nth-child(2n) {
    background-color: var(--white-color);
    border: 1px solid var(--accent-color);
}
.components-item:nth-child(3) {
    background-color: var(--accent-background-color);
}
.components-item-text-light {
    color: var(--white-color);
}

/* ========= Tablet ========== */
@media only screen and (min-width: 768px) {
    .unique-components {
        padding: 100px 0;
    }
    .components-title {
        max-width: 411px;
        margin: 0 auto 28px;
        font-size: 24px;
        line-height: 1.17;
    }
    .components-text {
        width: 486px;
        margin: 0 auto 50px;
    }
    .components-list {
        gap: 32px;
    }
    .components-item {
        width: calc((100% - 32px) / 2);
    }
     .components-item:nth-child(2) {
        order: 3;
    }
    .components-item:nth-child(3) {
        order: 4;
    }
    .components-item:nth-child(4) {
        order: 2;
    }
}

/* ===========  Desktop =========== */
@media screen and (min-width: 1200px) {
    .unique-components {
        padding: 128px 0;
    }
    .components-img {
        margin-bottom: 36px;
    }
    .components-list {
        gap: 19px;
    }
    .components-item {
        width: calc((100% - 3 * 19px) / 4);
    }
    .components-item:nth-child(2) {
        order: 2;
    }
    .components-item:nth-child(3) {
        order: 3;
    }
    .components-item:nth-child(4) {
        order: 4;
    }
}

/* ============ Overlay =========== */
.overlay-components-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 15px;
    opacity: 0;
    overflow: auto;
}
.components-item:hover .overlay-components-wrapper {
    animation: drop-in 500ms ease-in both;
} 
.components-item:hover {
    border: none;
}
.overlay-components-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}
.overlay-item {
    display: inline;
    padding: 6px 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
}
.overlay-item-title {
    color: var(--white-color);
    background: var(--accent-color);
    border-radius: 35px;
}
.overlay-benefits {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 35px; 
}
.overlay-components-text {
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
}

@keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }
